:root {
    --principal-background: #1D1D1D;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: 'Rubik', sans-serif;
}
.page {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--principal-background);
}
/* .mbtn {
    display: flex;
    justify-content: end;
    margin: 8px 8px 0 0;
    color: white;
} */
#check {
    display: none;
}
#check:checked ~ .main-menu {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}
.checkbtn {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 30px;
    color: white;
}
.checkbtn i {
    margin: 20px 20px 0 0;
}
.main-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: -100%;
    background: var(--principal-background);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
.main-menu .main-menu--top {
    /* El height se le debe cambiar a auto cuando se le coloque el logo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #0e0d0d;
}
.main-menu .main-menu--top span {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}
.main-menu .main-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
    width: 100%;
}
.main-menu .main-menu-nav a {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    border-bottom: 1px solid rgb(93, 93, 93);
    color: grey;
}
.main-menu .main-menu-nav a:hover {
    color: #13fdd8;
}
.main-menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.main-menu ul li {
    margin: 0 8px;
}
.main-menu ul li i {
    color: grey;
}
.main-menu ul li i:hover {
    color: #13fdd8;
}
.loader-container {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--principal-background);

    animation: loader 1.3s linear forwards;
}
@keyframes loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.loader-container .loader-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.loader-container .loader-title span {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}
.loader-container .load-container {
    position: relative;
    width: 60%;
    height: 3px;
    border-radius: 20px;
    background: #0b0b0b;
    overflow: hidden;
}
.loader-container .load-container .load {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
    animation: load 1s linear;
}
@keyframes load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}