:root {
    --principal-background: #1D1D1D;
    --special: #13fdd8;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
}
.page {
    position: relative;
    width: 100%;
    height: 100vh;
}
.checkbtn {
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    right: 10px;
    font-size: 4rem;
    color: white;
}
.checkbtn:hover i {
    color: var(--special);
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
}
.checkbtn i {
    margin: 20px 20px 0 0;
}
.main-menu {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--principal-background);
    transition: transform 0.5s ease;
}
.inactive { 
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
.main-menu .main-menu--top {
    /* El height se le debe cambiar a auto cuando se le coloque el logo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background: #0e0d0d;
}
.main-menu .main-menu--top span {
    font-size: 1.4rem;
    font-weight: 300;
    color: grey;
}
.main-menu .main-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.main-menu .main-menu-nav a {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    font-size: 1.8rem;
    border-bottom: 1px solid rgb(93, 93, 93);
    color: grey;
}
.main-menu .main-menu-nav a:hover {
    color: var(--special);
}
.main-menu ul {
    display: flex;
    align-items: center;
    height: 20%;
}
.main-menu ul li {
    margin: 0 8px;
}
.main-menu ul li i {
    font-size: 1.8rem;
    color: grey;
}
.main-menu ul li i:hover {
    color: var(--special);
}
/* main-page */
.main-page {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.section-full {
    padding: 0 30px;
    background-image: url("../assets/imgs/op1-background.jpg");
    background-size: cover;
    background-position: center;
}
.section-work {
    width: 100%;
    padding: 50px 0;
}
.main-page .presentation-container {
    display: flex;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.main-page .presentation-container div {
    width: 100%;
}
.main-page .presentation-container h1 {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: white;
}
.main-page .presentation-container p {
    margin-bottom: 5rem;
    font-size: 2rem;
    color: grey;
}
.principal-buttons {
    position: absolute;
    width: 170px;
    height: 40px;
}
.principal-buttons div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.principal-buttons div:hover .bg {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}
.principal-buttons div:hover .text {
    color: var(--principal-background);
}
.principal-buttons .bg {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: var(--special);

    transform: translateX(-110%) skew(-40deg);
    transition: transform 0.2s ease-out;
}
.principal-buttons .base {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid var(--special);
}
.principal-buttons .text {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--special);
    font-size: 1.4rem;
}
.main-page .proyects-container {
    width: 100%;
    height: auto;
}
.title-hero {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: var(--special);
}
.p-hero {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.p-hero a {
    color: var(--special);
}
.proyect-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 18px;
    place-content: center;
    margin: 0 0 70px;
}
.proyect-container .proyect--card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 190px;
    max-width: 300px;
    height: 200px;
    margin: 40px 5px 0;
    background: white;
    overflow: hidden;
}
.proyect-container .proyect--card:hover .opacity {
    visibility: hidden;
}
.proyect-container .proyect--card:hover .magic-item {
    visibility: visible;
    transform: scale(1.5);
    transition: transform 0.5s ease-in;
}
.proyect-container .proyect--card img {
    position: absolute;
    z-index: 1;
}
.proyect-container .proyect--card:nth-child(2)  img {
    width: 100%;
    height: 100%;
}
.proyect-container .proyect--card:nth-child(3)  img {
    width: 100%;
    height: 100%;
    background-size: contain;
}
.proyect-container .proyect--card .opacity {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: var(--principal-background);
    opacity: 0.4;
}
.proyect-container .proyect--card .magic-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 1rem;
    width: 45px;
    height: 45px;
    color: black;
    background: var(--special);
    border-radius: 50%;
    visibility: hidden;
}
.proyects-container .principal-buttons {
    margin-bottom: 100px;
}
.about-container {
    height: auto;
}
.blog-container {
    height: auto;
}
.background-hero {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 17rem;
    color: #262626;
}
.section-hero {
    position: relative;
    z-index: 3;
    top: -90px;
}
.contact-container {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
}
.contact-container ul li {
    display: block;
    margin-bottom: 10px;
    list-style: none;
}
.contact-container ul li .input-form {
    padding: 0 20px;
    max-width: 400px;
    height: 50px;
    color: #8d8d8d;
    border: none;
    background: #2b2b2b;
    font-size: 1.6rem;
}
.contact-form input[type="text"] {
    width: 100%;
    background: #2b2b2b;
}
.contact-form .message {
    margin-bottom: 1rem;
    padding: 20px 20px 0;
    width: 400px;
    min-height: 130px;
    color: #8d8d8d;
    background: #2b2b2b;
    border: none;
    font-size: 1.6rem;
}
.contact-form .form-button {
    margin-top: 1rem;
}

/* About_me.html */
.about-page {
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* skills.html */
.skills-page {
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.skills-progress {
    display: flex;
    flex-direction: column;
}
.skills-hero {
    margin-bottom: 2rem;
}
.skills-hero span {
    font-size: 1.8rem;
    color: white;
}
.skills-hero .progress-container {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: 3px;
    background: #373737;
    overflow: hidden;
}
.skills-hero .progress-container .progress-html {
    position: absolute;
    width: 95%;
    height: 2px;
    background: #CA4F01;

    animation: skills1 1s linear 1.3s;
    
}
@keyframes skills1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.skills-hero .progress-container .progress-css {
    position: absolute;
    width: 95%;
    height: 2px;
    background: #2071F2;

    animation: skills2 1s linear 1.3s;
}
@keyframes skills2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.skills-hero .progress-container .progress-js {
    position: absolute;
    width: 50%;
    height: 2px;
    background: #EAD517;

    animation: skills3 1s linear 1.3s;
}
@keyframes skills3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.experience-container {
    margin-top: 2rem;
}
.expirience-info {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    background: #2A2A2A;
}
.expirience-info h4 {
    color: white;
}
.expirience-info h4 {
    margin-bottom: 2rem;
    font-size: 2rem;
}
.expirience-info p {
    color: #A9A9A9;
    font-weight: 500;
}
.expirience-info p:nth-child(2) {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}
.expirience-info p:nth-child(3),
.expirience-info p:nth-child(4) {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

/* loader */
.loader-container {
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--principal-background);

    animation: loader 1.3s linear forwards;
}
@keyframes loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.loader-container .loader-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.loader-container .loader-title span {
    font-size: 1.4rem;
    font-weight: 300;
    color: grey;
}
.loader-container .load-container {
    position: relative;
    width: 60%;
    height: 3px;
    border-radius: 20px;
    background: #0b0b0b;
    overflow: hidden;
}
.loader-container .load-container .load {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
    animation: load 1s linear;
}
@keyframes load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .main-page .presentation-container h1 {
        font-size: 4rem;
    }
    .main-page .presentation-container p {
        font-size: 2rem;
    }
    .title-hero {
        font-size: 4rem;
    }
    .p-hero {
        font-size: 2rem;
        line-height: 1.3;
    }
    .skills-page {
        height: inherit;
    }
}
@media (min-width: 1024px) {
    .main-page .presentation-container h1 {
        font-size: 6rem;
    }
    .principal-buttons {
        width: 200px;
        height: 50px;
    }
    .principal-buttons .text {
        font-size: 1.5rem;
    }
    .title-hero {
        font-size: 5rem;
    }
    .p-hero {
        font-size: 2.1rem;
        line-height: 1.3;
    }
    .proyect-container .proyect--card {
        height: 220px;
    }
    .skills-page {
        height: inherit;
    }
}
@media (min-width: 1200px) {
    .page {
        display: flex;
    }
    .checkbtn {
        display: none;
    }
    .inactive {
        transform: none;
        transition: none;
    }
    .main-menu {
        position: fixed;
        display: flex;
        width: 18rem;
        height: 100vh;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
    }
    .main-menu .main-menu--top {
        height: 35%;
    }
    .main-menu ul {
        height: 0;
    }
    .section-full {
        padding: 0 3rem 0 21rem;
    }
    .main-page .presentation-container h1 {
        font-size: 7rem;
    }
    .principal-buttons {
        width: 220px;
        height: 60px;
    }
    .principal-buttons .text {
        font-size: 1.7rem;
    }
    .title-hero {
        font-size: 6.5rem;
    }
    .p-hero {
        font-size: 2.3rem;
        line-height: 1.5;
    }
    .proyect-container .proyect--card {
        height: 240px;
    }
    .contact-container {
        margin-bottom: 100px;
    }
    .skills-page {
        height: -webkit-fill-available;
    }
    .skills-container {
        display: flex;
        justify-self: center;
    }
    .skills-info {
        width: 50%;
    }
    .skills-progress {
        width: 50%;
    }
}